/*kizmet styles*/
tr
{
  background-color: whitesmoke;
}

td.score
{
	text-align:right;
	color:blue;
	background-color:#f9f9f9;
	width:40px;
}
body
{
	color: darkblue;
	background-color: darkgoldenrod;
}